# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
build/
dist/

# Model weights / checkpoints
*.pt

# Virtual environments
.venv/
venv/
env/

# Editors / OS
.vscode/
.idea/
*.swp
.DS_Store

# Env files
.env
